* {
  font-family: 'Lato', sans-serif;
}

nav {
  background-color: #D0DEE2 !important;
}

nav .brand-logo {
  color: #355254 !important;
  margin-left: 10px;
}

nav ul a {
  color: #355254 !important;
  font-size: 20px !important;
  margin-right: 10px;
}
.parallax-container {
  height:500px !important;
}

.container {
  width: 90% !important;
}

.parallax img {
  display: block !important;
  min-height: 400px;
  background: transparent;
}

.center, .center-align {
    text-align: center;
}

h2 {
    font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
}
.icon-block .material-icons {
    font-size: inherit;
}

.contact-icons {
  font-size: 30px;
  position: relative;
  text-align: center;
  margin-top: 15%;
  margin-left: 6%;
}

.fa {
    color: #355254;
}

.section.white {
  background-color: #D0DEE2 !important;
}
